@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  @apply bg-brand-dark text-white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
